@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 55px;
}

.nav>img {
  width: 24px;
}

.nav>h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}