@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 55px;
  margin-bottom: 45px;
}

.nav>img {
  width: 24px;
}

.nav>h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.article {
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.article--cover {
  width: 125px;
  aspect-ratio: 0.75;
  border-radius: 5px;
  overflow-x: hidden;
  object-fit: cover;
  object-position: center;
  flex: none;
}

.article--location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.article--location>h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-right: 10px;
}

.article--location>h2::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  color: #F55A5A;
  margin-right: 4px;
}

.article--location>a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  text-decoration-line: underline;
  color: #918E9B;
}

.article--title {
  margin-top: 7px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #2B283A;
}

.article--dates {
  margin-top: 15px;
  display: flex;
}

.article--dates>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  color: #2B283A;
}

.article-description {
  margin-top: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}